---
export interface Props {
	logo: string;
	about: string;
    projects:string;
    learn:string;
}

const { logo, about, projects,learn } = Astro.props;
---
<div class="nav-ham-menu">
    <a href="/"
        class="inline-block absolute top-5 left-12 text-xl font-bold m-0 p-2 hover:text-white hover:bg-black">{logo}</a>
<nav class="fixed flex top-5 w-max right-12 text-l hidden md:inline-flex gap-16">
    <a href="/about" class="inline-block p-2 font-bold m-0 hover:text-white hover:bg-black">{about}</a><a
        href="/project"
        class="inline-block p-2 font-bold m-0 hover:text-white hover:bg-black">{projects}</a><a href="/learn"
        class="inline-block p-2 font-bold m-0 hover:text-white hover:bg-black">{learn}</a>
</nav>

    <!-- <div class="absolute top-8 right-12" id="pencet">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
<div style="z-index: 5;" class="hamenu hidden absolute h-screen bg-violet-200 w-screen top-0 left-0">
    <nav class="fixed flex flex-col top-5 w-screen h-screen justify-center items-center text-l gap-16">
        <a href="/about" class="menu inline-block p-2 font-bold m-0">{about}</a><a
            href="/project"
            class="inline-block menu p-2 font-bold m-0 hover:text-white hover:bg-black">{projects}</a><a href="/learn"
            class="inline-block menu p-2 font-bold m-0 hover:text-white hover:bg-black">{learn}</a>
    </nav>
</div>
</div>