---
export interface Props {
	img: string;
	alt: string;
    header:string;
    desc:string;
}

const { img, alt, header, desc} = Astro.props;
---
    
<section class="h-max flex justify-center px-12">
    <div class="flex flex-col gap-16 lg:w-5/6 lg:grid lg:grid-cols-3 lg:grid-rows-2 border-b-2 mb-20 lg:gap-16 ">
        <div class="flex flex-col gap-4">
            <h1 class="text-2xl font-medium pt-16">{header}</h1>
            <p class="hidden 2xl:inline-block text-l desc font-normal">{desc}</p>
            <p class="2xl:hidden text-sm desc font-normal">{desc}</p>
        </div>
        <img class="row-span-2 h-full" src={img} alt={alt}>
        <div class="hidden lg:block"></div>
        <div class="hidden lg:block"></div>
        <div class="flex flex-col gap-4">
            <h1 class="hidden 2xl:block text-2xl font-medium pt-16">{header}</h1>
            <h1 class="2xl:hidden text-2xl font-medium">{header}</h1>
            <p class="hidden 2xl:inline-block text-l desc font-normal">{desc}</p>
            <p class="2xl:hidden text-sm desc font-normal">{desc}</p>
        </div>
    </div>
</section>

<section class="h-max flex justify-center items-center px-12">
    <img class="w-32" src="/public/man_coding.jpg" alt="">
    <div class="h1">Hello World</div>
</section>


